body, html {
    height: 100%;
  }

.bodyContent {
    background-image: url("../images/ocean-poster.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    background-size:100% 100%;}

.jumbotron {
    background: none;
    /* font-family: 'Righteous', cursive; */
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-size: 120px;
}

#articlesContainer {
    background-color: #001F46;
}

#articles {
    margin-left: 100px;
    margin-right: 100px;
}

.new-article-div {
    margin-bottom: 20px;
}

.linkImage {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.commentButton, .articleButton, .commentsButton, .saveButton {
   margin-left: 10px;
}

#buttonsDiv {
float: right;
margin: 20px;
}

.card {
    float: left;
    margin: 20px;
}

/* p {
    color: wh
} */

#commentContainer {
    /* margin: 30px; */
    float: right;
}